---
layout: layouts/base.liquid
---
{% render "site-header" %}
<main class="post">
  <article>
    <header>
        <ul class="tags">
        {% for tag in tags %}
          <li><a href="/tags/{{tag}}">{{tag}}</a></li>
        {% endfor %}
        </ul>
      </div>
      <h1>{{title}}</h1>
      <p>
        Posted by <a class="author" href="/about/">Phil Hawksworth</a> on 
        <time datetime="{{date}}">{{date | date: "%B %d, %Y"}}</time>
      </p>
    </header>
    {{ content }}
  </article>
</main>
{% render "site-footer" pkg:pkg %}


