---
layout: base.liquid
---

<section class="center">
  <p class="meta">
    By <a href="">Phil Hawksworth</a><br>
    <time datetime="{{date}}">{{date | formatDate }}</time>
  </p>
  <hgroup>
    <h1>{{title}}</h1>
    <p>{{subtitle}}</p>
  </hgroup>
  {% for tag in tags %}
    <a href="/blog/{{tag}}" class="tag">{{tag}}</a>
  {% endfor %}
</section>
<hr>
<section>
  <div class="excerpt">
    {{ content | section  }}
    {% if externalurl %}
    <a href="{{externalurl}}">Visit this article</a>
    {% endif %}
  </div>
  {{ content | section: 'remainder' }}
</section>
<section class="right small">
<hr>
<h4>Previously posted</h4>


{% assign currentItemIndex = 0 %}
{% for item in collections.localposts %}
  {% if item.url == page.url %}
  	{% assign currentItemIndex = forloop.index0 %}
	{% endif %}
{% endfor %}
{% assign previousIndex = currentItemIndex | plus: 1 %}
{% assign previousItem = collections.localposts[previousIndex] %}
{% if previousItem %}
  <a href="{% if previousItem.data.externalurl %}{{ previousItem.data.externalurl }}{% else %}{{ previousItem.url | url }}{% endif %}">{{ previousItem.data.title }}</a>
{% endif %}

</section>

